.perso{
	position: absolute;
	background-color: red;
	height: 60px;
	width: 30px;
	top:0;
	left:1px;
	background: url(../asset/perso_move.png) -3px -6px no-repeat;
    background-size: 397px 496px;
    z-index:1000;
}

.look-right{
	background: url(../asset/perso_move.png) -364px -435px no-repeat;
	background-size: 397px 496px;
}
.look-left{
	background: url(../asset/perso_move.png) -2px -312px no-repeat;
	background-size: 397px 496px;
}

.move-right{
	animation: play-right .9s steps(9) infinite;
}
.move-left{
	animation: play-left .9s steps(9) infinite;
}

@keyframes play-right {
   100% { background-position: -3px -435px; }
}

@keyframes play-left {
   100% { background-position: -363px -312px; }
}